*{
    box-sizing: border-box;
}
#cont{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 200px;
    /* border: 1px solid green; */
    align-items: center;
}
#input_div{
    display: flex;
    flex-wrap: wrap;
}
#output_div{
    border: 1px solid #000000;
    width: 100px;
    height: 100px;
}